/* You can add global styles to this file, and also import other style files */
.header{
    background-color: red($color: #000000);
    height: 100px;
}
.main .item{
    height: 150px;
    background-color: aqua;
    margin: 20px;
}