.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  
    .form-wrapper {
      display: flex;
      column-gap: 8px;
      align-items: center;
      .form-group {
        width: 100%;
      }
    }
  
  }