*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-weight: 'poppins' , sans-serif;
}
.container{
  width : 100% ;
  height: 100vh;
    background-image: url('/assets/city.jpg');
  background-size: cover;
  background-position: center;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.profile-box{
  background: #492020;
  text-align: center;
  padding: 40px 90px;
  color: #ffff;
  position: relative;
  border-radius: 20px;

}
.profile-pic{
  width: 150px;
  border-radius: 50%;
  background: #ffff;
  padding: 6px;
  margin-top: 40px;
}