<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Page</title>
  <link rel="stylesheet" href="profile.component.scss">
</head>
<body>

  <div class="container">

    <div class="profile-box">
      <h2>phone number : 423123413</h2>
      <img src="assets/mamad.jpg" class="profile-pic" >
      <h3>Mohammad Moghimi</h3>
      <p>Not a Software Engineer :)</p>
      <p>passionate about Web Develeopment and Enthusiastic movie lover</p>
      <p>EXPERIENCE : 
        Angular , Java , Python , Springboot , Django , Jsp , C++ , Javascript , Typescript , PostgreSQL
      </p>
    </div>

  </div>
  
</body>
</html>