.custom-list-group { 
     justify-content: center;
     margin: auto;
    text-align: center;
    width: 1000px;
    padding-top: 30px;
  }
  .tag-class{
    text-align: center;
    margin-top: 3%;
  }
 .input-class{     
       text-align: center;
 }